.image-list {
    display: grid; 
    /* Gives the page a set with autofill number of columns page of pictures */
    /* minmax is the wide and spacing 1fr is all the same size pictures */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Gives spacing between pictures */
    grid-gap: 0 10px;
    /* How tall or how each of the different cells or rows are going to be */
    grid-auto-rows: 10px;
}

.image-list img {
    width: 250px; 
    grid-row-end: span 2; 
}